@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("./fonts/Inter-Bold.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  margin: 0;

  min-width: 100vw;
  min-height: 100%;

  background-color: white;
}

nav {
  position: relative;

  display: flex;
  justify-content: end;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;

  transition: linear 0.3s;
}

li {
  margin-right: calc(1em + 1rem);
  list-style: none;
}

li a {
  text-decoration: none;
}

h1 {
  font-family: "InterBold";
}

span {
  margin-right: clamp(1vw, 2vw, 1.5vw);
}

hr {
  opacity: 0.4;
}

a:hover {
  transition: 0.3s;
  color: #dfa3a0;
}

.checkbtn {
  position: absolute;
  right: 0;

  cursor: pointer;

  display: none;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 1fr;

  column-gap: calc(1em + 1rem);
}

.main-content-col1 {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 0.8fr;
}

.main-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-web-3-desktop.jpg");
  background-size: cover;
}

.main-content-col2 {
  background-color: #00001a;

  color: white;
}

.btn-read-more {
  background-color: #00001a;
  width: 50%;
  height: 20%;
  color: white;

  cursor: pointer;

  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.other-articles {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 1fr;
}

.article-1 .image-article {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-retro-pcs.jpg");
  background-size: cover;
}

.article-2 .image-article {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-top-laptops.jpg");
  background-size: cover;
}

.article-3 .image-article {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-gaming-growth.jpg");
  background-size: cover;
}

.article-1,
.article-2,
.article-3 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
}
#check {
  display: none;
}

@media (max-width: 900px) {
  main {
    margin-top: 1rem;
  }

  ul {
    position: fixed;

    top: -1rem;
    left: -200%;

    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 127, 80);

    z-index: 0;

    flex-wrap: wrap;
  }

  li {
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbtn {
    display: block;

    position: absolute;
    top: 0;

    z-index: 1;
  }

  #check:checked ~ ul {
    left: 0;

    transition: linear 0.3s;
  }
}
