@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("./fonts/Inter-Bold.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Inter";

  font-size: clamp(1vw, 1.4vw, 1.2vw);
}

body {
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: white;

  padding-left: clamp(5vw, 7vw, 6vw);
  padding-right: clamp(5vw, 7vw, 6vw);
}

nav {
  position: relative;

  display: flex;
  justify-content: end;
  align-items: center;

  margin-top: clamp(1vw, 3vw, 2vw);
  margin-bottom: clamp(1vw, 3vw, 2vw);
}

ul {
  display: flex;
  justify-content: center;

  transition: linear 0.3s;
}

li {
  margin-right: calc(1em + 1rem);
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  font-family: "InterBold";
}

h1 {
  font-size: clamp(3vw, 4vw, 3.5vw);
  width: 70%;
}

h2 {
  margin-top: 0;
  font-size: clamp(2vw, 3vw, 2.5vw);

  color: #e3b364;
}

h3 {
  font-size: clamp(1.1vw, 2.1vw, 1.6vw);
  cursor: pointer;
}

h3:hover {
  color: #e3b364;
}

span {
  margin-right: clamp(1vw, 2vw, 1.5vw);
}

hr {
  opacity: 0.4;
  z-index: -1;
}

a:hover {
  transition: 0.3s;
  color: #dfa3a0;
  font-weight: bold;
}

.checkbtn {
  position: absolute;
  right: 0;

  cursor: pointer;

  display: none;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 0.53fr;
  grid-template-rows: 1fr;

  column-gap: calc(1em + 1rem);

  margin-bottom: clamp(3.5vw, 5.5vw, 4.5vw);
}

.main-content-col1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 0.8fr;
}

.main-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-text div p {
  padding: clamp(0.5vw, 0.7vw, 0.6vw);
  line-height: clamp(1.5vw, 2.4vw, 2vw);
}

.main-text div {
  margin-top: 12%;
}

.image {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-web-3-desktop.jpg");
  background-size: cover;
}

.main-content-col2 {
  background-color: #00001a;
  color: white;

  padding: clamp(1.5vw, 2.5vw, 2vw);
}

.main-content-col2 p {
  font-size: clamp(1.2vw, 1.8vw, 1.4vw);

  text-align: justify;
}

.main-content-col2 div {
  margin-bottom: clamp(3.5vw, 5vw, 4vw);
}

.btn-read-more {
  background-color: #00001a;
  width: 50%;
  height: 20%;
  color: white;

  cursor: pointer;

  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.other-articles {
  /* background-color: #dfa3a0; */

  margin-bottom: clamp(2.5vw, 4.5vw, 3.5vw);

  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 1fr;
}

.other-articles p {
  width: 90%;
}

.article-1 .image-article {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-retro-pcs.jpg");
  background-size: cover;
}

.article-2 .image-article {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-top-laptops.jpg");
  background-size: cover;
}

.article-3 .image-article {
  width: 100%;
  height: 100%;

  background-image: url("./assets/images/image-gaming-growth.jpg");
  background-size: cover;
}

.text-article {
  padding-left: clamp(1vw, 2vw, 1.5vw);
  padding-right: clamp(1vw, 2vw, 1.5vw);

  line-height: clamp(1.5vw, 2.5vw, 1.8vw);
}

.article-1,
.article-2,
.article-3 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
}

.article-1 h2,
.article-2 h2,
.article-3 h2 {
  color: gray;

  opacity: 0.3;
}

.article-1 h3:hover,
.article-2 h3:hover,
.article-3 h3:hover {
  color: #de3806;
}

#check {
  display: none;
}

@media (max-width: 900px) {
  main {
    margin-top: 1rem;
  }

  ul {
    position: fixed;

    top: -1rem;
    left: -200%;

    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 127, 80);

    z-index: 0;

    flex-wrap: wrap;
  }

  li {
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbtn {
    display: block;

    position: absolute;
    top: 0;

    z-index: 1;
  }

  #check:checked ~ ul {
    left: 0;

    transition: linear 0.3s;
  }
}
